html,
body,
#viewDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#info {
  padding: 14px;
  border-radius: 5px;
  width: 25%;
}

#update {
  padding: 6px;
}

#form {
  background: #fff;
}

/* replaces esri-widget--panel */

.esri-button {
  height: 36px;
}

.scroller {
  overflow-x: hidden;
  overflow-y: auto;
}
